/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #01092E;
  color: white;
  height: 100vh;          
  overflow: hidden;       
  display: flex;
  flex-direction: column;
}

/* HEADER */
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  height: 100px;
}

.logo-header {
  height: 200px; 
}

.back-button {
  background-color: rgba(190, 221, 233, 0.9);
  color: #01092E;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s ease;
}
.back-button:hover {
  background-color: rgba(190, 221, 233, 1);
}

/* CONTENEDOR CENTRAL */
.main-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 70px 20px 70px; 
  background-color: #0B1D3A;
  border-radius: 10px;
  overflow: hidden;
}


/* COLUMNAS */
.left-panel {
  flex: 1;
}
.form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* FORMULARIO */
.login-form {
  width: 100%;
  max-width: 320px;
}

.welcome {
  font-size: 20px;
  color: #cccccc;
  margin-bottom: 5px;
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #cccccc;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

/* Mostrar contraseña */
.password-container {
  position: relative;
}
.show-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

/* BOTÓN PRINCIPAL */
.get-started-btn {
  width: 100%;
  padding: 14px;
  background-color: #0A516D;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s ease;
}
.get-started-btn:hover {
  background-color: #083d52;
}

/* Link Sign Up */
.signup-link {
  text-align: center;
  font-size: 14px;
  color: #b0b0b0;
}
.signup-link a {
  color: #4da6ff;
  text-decoration: none;
  font-weight: bold;
}
.signup-link a:hover {
  text-decoration: underline;
}
